In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkConf

sparkConf = SparkConf()
sparkConf.setMaster("spark://spark-master:7077")
sparkConf.setAppName("Exercise_1_lab8_DE2")
sparkConf.set("spark.driver.memory", "2g")
sparkConf.set("spark.executor.cores", "1")
sparkConf.set("spark.driver.cores", "1")
# create the spark session, which is the entry point to Spark SQL engine.
spark = SparkSession.builder.config(conf=sparkConf).getOrCreate()
# Load data from BigQuery.

conf = spark.sparkContext._jsc.hadoopConfiguration()
conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
conf.set("fs.AbstractFileSystem.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")

gsc_file_path = 'gs://data_de2/transfers.csv'  #  use your gcp bucket name. Also upload sales.csv first

df_transfers = spark.read.format("csv").option("header", "true").option("delimiter", ",") \
       .load(gsc_file_path)
df_transfers.printSchema()
df_transfers.show(5)

df_players = spark.read \
  .format("bigquery") \
  .load("de2024-436414.transfers_kaggle.players")    # project_id.datatset.tablename. Use your project id
df_players.printSchema()
df_players.show(4)

root
 |-- player_id: string (nullable = true)
 |-- transfer_date: string (nullable = true)
 |-- transfer_season: string (nullable = true)
 |-- from_club_id: string (nullable = true)
 |-- to_club_id: string (nullable = true)
 |-- from_club_name: string (nullable = true)
 |-- to_club_name: string (nullable = true)
 |-- transfer_fee: string (nullable = true)
 |-- market_value_in_eur: string (nullable = true)
 |-- player_name: string (nullable = true)

+---------+-------------+---------------+------------+----------+--------------+---------------+------------+-------------------+---------------+
|player_id|transfer_date|transfer_season|from_club_id|to_club_id|from_club_name|   to_club_name|transfer_fee|market_value_in_eur|    player_name|
+---------+-------------+---------------+------------+----------+--------------+---------------+------------+-------------------+---------------+
|   195778|   2026-06-30|          25/26|          79|        27| VfB Stuttgart|  Bayern Munich|       0.000|       12000000.000|Alexander NÃ¼bel|
|   626913|   2026-06-30|          25/26|         398|       380|         Lazio|    Salernitana|       0.000|       15000000.000|    Boulaye Dia|
|  1047109|   2026-06-30|          25/26|        2672|       265|APO Levadiakos|  Panathinaikos|       0.000|         100000.000|Georgios Katris|
|   360791|   2025-12-31|          25/26|        6418|      1030|   Panetolikos|Argentinos Jrs.|       0.000|        1200000.000|   Lucas Chaves|
|   532536|   2025-10-24|          24/25|        2451|      1519|  Inverness CT|  Dundee United|       0.000|         150000.000|    Jack Newman|
+---------+-------------+---------------+------------+----------+--------------+---------------+------------+-------------------+---------------+
only showing top 5 rows

root
 |-- player_id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- name: string (nullable = true)
 |-- last_season: long (nullable = true)
 |-- current_club_id: long (nullable = true)
 |-- player_code: string (nullable = true)
 |-- country_of_birth: string (nullable = true)
 |-- city_of_birth: string (nullable = true)
 |-- country_of_citizenship: string (nullable = true)
 |-- date_of_birth: timestamp (nullable = true)
 |-- sub_position: string (nullable = true)
 |-- position: string (nullable = true)
 |-- foot: string (nullable = true)
 |-- height_in_cm: long (nullable = true)
 |-- contract_expiration_date: timestamp (nullable = true)
 |-- agent_name: string (nullable = true)
 |-- image_url: string (nullable = true)
 |-- url: string (nullable = true)
 |-- current_club_domestic_competition_id: string (nullable = true)
 |-- current_club_name: string (nullable = true)
 |-- market_value_in_eur: long (nullable = true)
 |-- highest_market_value_in_eur: long (nullable = true)

+---------+----------+------------+--------------------+-----------+---------------+--------------------+----------------+-------------+----------------------+-------------------+------------+--------+-----+------------+------------------------+----------+--------------------+--------------------+------------------------------------+-----------------+-------------------+---------------------------+
|player_id|first_name|   last_name|                name|last_season|current_club_id|         player_code|country_of_birth|city_of_birth|country_of_citizenship|      date_of_birth|sub_position|position| foot|height_in_cm|contract_expiration_date|agent_name|           image_url|                 url|current_club_domestic_competition_id|current_club_name|market_value_in_eur|highest_market_value_in_eur|
+---------+----------+------------+--------------------+-----------+---------------+--------------------+----------------+-------------+----------------------+-------------------+------------+--------+-----+------------+------------------------+----------+--------------------+--------------------+------------------------------------+-----------------+-------------------+---------------------------+
|    56607|      Anco|      Jansen|         Anco Jansen|       2020|           1283|         anco-jansen|     Netherlands|       Zwolle|           Netherlands|1989-03-09 00:00:00|        NULL| Missing|right|         186|                    NULL|      NULL|https://img.a.tra...|https://www.trans...|                                 NL1|         FC Emmen|             250000|                     700000|
|   231165|     Fotis|    Doumanis|      Fotis Doumanis|       2013|            128|      fotis-doumanis|          Greece|       Kavala|                Greece|1993-10-28 00:00:00|        NULL| Missing|right|         173|     2023-06-30 00:00:00|      NULL|https://img.a.tra...|https://www.trans...|                                 GR1|        AO Xanthi|             150000|                     150000|
|   727111|Anastasios|Papadopoulos|Anastasios Papado...|       2019|            128|anastasios-papado...|            NULL|         NULL|                Greece|2002-03-15 00:00:00|        NULL| Missing|right|         180|     2023-06-30 00:00:00|      NULL|https://img.a.tra...|https://www.trans...|                                 GR1|        AO Xanthi|               NULL|                       NULL|
|   564561|  Mathurin|       Sakho|      Mathurin Sakho|       2018|           1416|      mathurin-sakho|            NULL|         NULL|                France|1995-03-10 00:00:00|        NULL| Missing| NULL|         186|                    NULL| ProSkills|https://img.a.tra...|https://www.trans...|                                 FR1|        Amiens SC|               NULL|                       NULL|
+---------+----------+------------+--------------------+-----------+---------------+--------------------+----------------+-------------+----------------------+-------------------+------------+--------+-----+------------+------------------------+----------+--------------------+--------------------+------------------------------------+-----------------+-------------------+---------------------------+
only showing top 4 rows

In [17]:
df_transfers.columns

['player_id',
 'transfer_date',
 'transfer_season',
 'from_club_id',
 'to_club_id',
 'from_club_name',
 'to_club_name',
 'transfer_fee',
 'market_value_in_eur',
 'player_name']

**Which players hold the highest and second-highest transfer fees for each club, and what are their details?**

In [16]:
# first, only select the columns from df_players that are not in df_transfers and insightful
df_players_new = df_players.select("player_id", "player_code", "country_of_birth", "country_of_citizenship", 
                                   "date_of_birth", "sub_position", "position", "foot", "height_in_cm", 
                                   "agent_name", "image_url") 

# Turn date_of_birth into an object without timestamp
df_players_new = df_players_new.withColumn("date_of_birth", to_date(col("date_of_birth")))

df_players_new.show(15)

+---------+--------------------+----------------+----------------------+-------------+------------+--------+-----+------------+----------------+--------------------+
|player_id|         player_code|country_of_birth|country_of_citizenship|date_of_birth|sub_position|position| foot|height_in_cm|      agent_name|           image_url|
+---------+--------------------+----------------+----------------------+-------------+------------+--------+-----+------------+----------------+--------------------+
|    56607|         anco-jansen|     Netherlands|           Netherlands|   1989-03-09|        NULL| Missing|right|         186|            NULL|https://img.a.tra...|
|   231165|      fotis-doumanis|          Greece|                Greece|   1993-10-28|        NULL| Missing|right|         173|            NULL|https://img.a.tra...|
|   727111|anastasios-papado...|            NULL|                Greece|   2002-03-15|        NULL| Missing|right|         180|            NULL|https://img.a.tra...|
|   564561|      mathurin-sakho|            NULL|                France|   1995-03-10|        NULL| Missing| NULL|         186|       ProSkills|https://img.a.tra...|
|   158704|   jon-ander-garrido|           Spain|                 Spain|   1989-10-09|        NULL| Missing|right|         185|    JV SPORTS SL|https://img.a.tra...|
|   457129|      ben-hinchliffe|         England|               England|   1997-09-25|        NULL| Missing| NULL|        NULL|            NULL|https://img.a.tra...|
|   584378|        lucas-geurde|            NULL|               Belgium|   1999-08-18|        NULL| Missing| NULL|        NULL|            NULL|https://img.a.tra...|
|  1160121|      wassim-zaatout|            NULL|               Morocco|   2004-02-03|        NULL| Missing|right|        NULL|            NULL|https://img.a.tra...|
|   451848| geoffrey-acheampong|           Ghana|                 Ghana|   1997-01-28|        NULL| Missing| left|         180|Fisher Sport Ltd|https://img.a.tra...|
|   468661|         lucas-triki|          France|               Morocco|   1998-05-06|        NULL| Missing| NULL|         177|            NULL|https://img.a.tra...|
|   718190|      jorge-cofrades|            NULL|                 Spain|   2001-01-19|        NULL| Missing| NULL|         185|            NULL|https://img.a.tra...|
|    64385|  jose-manuel-catala|           Spain|                 Spain|   1985-01-01|        NULL| Missing| left|         182|            NULL|https://img.a.tra...|
|  1063540|        mamadu-silla|            NULL|              Portugal|   2006-11-30|        NULL| Missing|right|        NULL|            NULL|https://img.a.tra...|
|   321086|        emil-nielsen|            NULL|               Denmark|   1996-01-29|        NULL| Missing| NULL|        NULL|            NULL|https://img.a.tra...|
|    26199|               verza|           Spain|                 Spain|   1986-09-29|        NULL| Missing|right|         181|InterStarDeporte|https://img.a.tra...|
+---------+--------------------+----------------+----------------------+-------------+------------+--------+-----+------------+----------------+--------------------+
only showing top 15 rows

In [32]:
from pyspark.sql.functions import *
from pyspark.sql import Window

# Join the players and transfers datasets using a left join
join_expression = df_players_new["player_id"] == df_transfers["player_id"]
players_merged = df_transfers.join(df_players_new, join_expression, "left").drop("rid")

# We found some NAN values in the transfer fee section, we will remove these rows because they are not important
players_merged_clean = players_merged.filter(col("transfer_fee").isNotNull())


players_merged_clean.printSchema()

root
 |-- player_id: string (nullable = true)
 |-- transfer_date: string (nullable = true)
 |-- transfer_season: string (nullable = true)
 |-- from_club_id: string (nullable = true)
 |-- to_club_id: string (nullable = true)
 |-- from_club_name: string (nullable = true)
 |-- to_club_name: string (nullable = true)
 |-- transfer_fee: string (nullable = true)
 |-- market_value_in_eur: string (nullable = true)
 |-- player_name: string (nullable = true)
 |-- player_id: long (nullable = true)
 |-- player_code: string (nullable = true)
 |-- country_of_birth: string (nullable = true)
 |-- country_of_citizenship: string (nullable = true)
 |-- date_of_birth: date (nullable = true)
 |-- sub_position: string (nullable = true)
 |-- position: string (nullable = true)
 |-- foot: string (nullable = true)
 |-- height_in_cm: long (nullable = true)
 |-- agent_name: string (nullable = true)
 |-- image_url: string (nullable = true)

We can see in the shema above that a lot of these variables that should be integers are strings. Let's fix that.

In [33]:
# Convert transfer_fee, market_value_in_eur, and height_in_cm to integer type
players_merged_clean = players_merged_clean.withColumn("transfer_fee", col("transfer_fee").cast("int")) \
                                           .withColumn("market_value_in_eur", col("market_value_in_eur").cast("int")) \
                                           .withColumn("height_in_cm", col("height_in_cm").cast("int"))

players_merged_clean.printSchema()

root
 |-- player_id: string (nullable = true)
 |-- transfer_date: string (nullable = true)
 |-- transfer_season: string (nullable = true)
 |-- from_club_id: string (nullable = true)
 |-- to_club_id: string (nullable = true)
 |-- from_club_name: string (nullable = true)
 |-- to_club_name: string (nullable = true)
 |-- transfer_fee: integer (nullable = true)
 |-- market_value_in_eur: integer (nullable = true)
 |-- player_name: string (nullable = true)
 |-- player_id: long (nullable = true)
 |-- player_code: string (nullable = true)
 |-- country_of_birth: string (nullable = true)
 |-- country_of_citizenship: string (nullable = true)
 |-- date_of_birth: date (nullable = true)
 |-- sub_position: string (nullable = true)
 |-- position: string (nullable = true)
 |-- foot: string (nullable = true)
 |-- height_in_cm: integer (nullable = true)
 |-- agent_name: string (nullable = true)
 |-- image_url: string (nullable = true)

In [34]:
# Calculate the average fee per club for comparison
avg_fee_club = players_merged_clean.groupBy("to_club_name").agg(avg("transfer_fee").alias("avg_fee_club"))

# We exclude all players that went on a free transfer (transer_fee == 0), as this is not an expenditure for the club.
players_merged_clean = players_merged_clean.filter(col("transfer_fee") > 0)

# Exclude players who went on a free transfer (transfer_fee == 0)
players_merged_clean = players_merged_clean.filter(col("transfer_fee") > 0)

# Add the average fee to the players_merged DataFrame
players_with_avg_fee = players_merged_clean.join(avg_fee_club, on="to_club_name", how="left")


# Define a window to rank players by transfer_fee within each club, ordering by transfer_fee in descending order
highest_fee_club = Window.partitionBy("to_club_name").orderBy(col("transfer_fee").desc(), col("player_name"))

# Add a rank column to determine the order of players by transfer_fee
players_merged_ranked = players_with_avg_fee.withColumn("rank_fee", row_number().over(highest_fee_club))


top_two_expenditures_table = players_merged_ranked.where((col("rank_fee") == 1) | (col("rank_fee") == 2) ).select("*")
# top_two_expenditures_table.show(20)

top_two_expenditures_table2 = top_two_expenditures_table.withColumn("Record", when(col("rank_fee") == 1, "Most Expensive")
                                                          .otherwise("2nd Most expensive")).select("player_name", "to_club_name", "country_of_birth","date_of_birth" , "position", "foot", "height_in_cm",  "Record", "transfer_fee", "avg_fee_club")

top_two_expenditures_table2 = top_two_expenditures_table2.orderBy(col("to_club_name"), col("transfer_fee").desc())
top_two_expenditures_table2.show(20)

+--------------------+--------------+----------------+-------------+----------+-----+------------+------------------+------------+------------------+
|         player_name|  to_club_name|country_of_birth|date_of_birth|  position| foot|height_in_cm|            Record|transfer_fee|      avg_fee_club|
+--------------------+--------------+----------------+-------------+----------+-----+------------+------------------+------------+------------------+
|     Philipp Hofmann|1.FC K'lautern|         Germany|   1993-03-30|    Attack| left|         195|    Most Expensive|     1000000|          110000.0|
|        Simon Zoller|1.FC K'lautern|         Germany|   1991-06-26|    Attack|right|         179|2nd Most expensive|      630000|          110000.0|
|        Jhon CÃ³rdoba|     1.FC KÃ¶ln|        Colombia|   1993-05-11|    Attack|right|         188|    Most Expensive|    17000000|1216901.4084507043|
|  Sebastiaan Bornauw|     1.FC KÃ¶ln|         Belgium|   1999-03-22|  Defender|right|         191|2nd Most expensive|     8250000|1216901.4084507043|
|      Nikolas Nartey|  1.FC KÃ¶ln II|         Denmark|   2000-02-22|  Midfield| left|         185|    Most Expensive|      400000|57142.857142857145|
|       Makoto Hasebe|1.FC Nuremberg|           Japan|   1984-01-18|  Defender|right|         180|    Most Expensive|     2500000| 222702.7027027027|
|      Nikola Dovedan|1.FC Nuremberg|         Austria|   1994-07-06|    Attack|right|         172|2nd Most expensive|     2500000| 222702.7027027027|
|        AarÃ³n MartÃ­n|1.FSV Mainz 05|           Spain|   1997-04-22|  Defender| left|         178|    Most Expensive|     8000000|1361521.7391304348|
|Jean-Philippe Mateta|1.FSV Mainz 05|          France|   1997-06-28|    Attack|right|         192|2nd Most expensive|     8000000|1361521.7391304348|
|  Christian Gytkjaer|   1860 Munich|         Denmark|   1990-05-06|    Attack|right|         185|    Most Expensive|     2250000|          250000.0|
|    Benedikt Pichler| A. Klagenfurt|         Austria|   1997-07-20|    Attack|right|         188|    Most Expensive|       13000|1444.4444444444443|
|         Sam Proctor| A. Villa Yth.|         England|   2006-12-21|Goalkeeper| NULL|        NULL|    Most Expensive|      120000|          120000.0|
|     Mikkel KallesÃ¸e|    AC Horsens|         Denmark|   1997-04-20|  Defender|right|         193|    Most Expensive|      335000|14423.076923076924|
|         James Gomez|    AC Horsens|      The Gambia|   2001-11-14|  Defender|right|         189|2nd Most expensive|       40000|14423.076923076924|
|         Rafael LeÃ£o|      AC Milan|        Portugal|   1999-06-10|    Attack|right|         188|    Most Expensive|    49500000| 5061734.104046242|
|    Leonardo Bonucci|      AC Milan|           Italy|   1987-05-01|  Defender|right|         189|2nd Most expensive|    42000000| 5061734.104046242|
|Gianluigi Donnarumma|AC Milan Youth|           Italy|   1999-02-25|Goalkeeper|right|         196|    Most Expensive|      250000|          150000.0|
|  Antonio Donnarumma|AC Milan Youth|           Italy|   1990-07-07|Goalkeeper|right|         192|2nd Most expensive|       50000|          150000.0|
|          Elia Giani|       AC Pisa|           Italy|   2000-12-20|    Attack| NULL|         185|    Most Expensive|      100000| 7142.857142857143|
|           LuÃ­s Neto|      AC Siena|        Portugal|   1988-05-26|  Defender|right|         185|    Most Expensive|     3650000| 638888.8888888889|
+--------------------+--------------+----------------+-------------+----------+-----+------------+------------------+------------+------------------+
only showing top 20 rows

In [35]:
# Use the Cloud Storage bucket for temporary BigQuery export data the connector uses.
bucket = "temp_de2"
spark.conf.set('temporaryGcsBucket', bucket)
# Saving the data to BigQuery
top_two_expenditures_table2.write.format('bigquery') \
  .option('table', 'de2024-436414.transfers_kaggle.record_expenditure_clubs') \
  .mode("overwrite") \
  .save()

In [42]:
# Stop the spark context
spark.stop()